<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lineageos.frameworkresoverlay.pbem00">
    <application android:hasCode="false" />
    <overlay android:isStatic="true"
             android:priority="1"
             android:targetPackage="android"
             android:targetName="pbem00FrameworkResOverlay" />
</manifest>